## 출력하기 : print()

In [4]:
print()

In [5]:
print('Hello world')

Hello world

In [6]:
print(1)

1

In [7]:
print([1, 2, 3])

[1, 2, 3]

In [8]:
print(1, 2)

1 2

In [11]:
print(1, 2, 3)

1 2 3

## 입력하기 : input()

In [12]:
input()

 aaaaa

'aaaaa'

In [13]:
input('이름을 입력하세요')

이름을 입력하세요 김왼손

'김왼손'

In [14]:
input('당신의 나이는? :')

당신의 나이는? : 21

'21'

In [15]:
age = input('당신의 나이는?')

당신의 나이는? 19

In [16]:
age

'19'

## 변수와 변수이름

### Variable

In [17]:
my_int = 1

In [18]:
my_int + 3

4

In [19]:
my_int * 100

100

### Naming

In [20]:
asekjasfk______asdklfjaslk = 1

In [21]:
asekjasfk______asdklfjaslk

1

In [22]:
python = 1

In [23]:
PYTHON = 2

In [24]:
python

1

In [25]:
PYTHON

2

In [26]:
파이썬 = 1

In [27]:
파이썬

1

In [28]:
김왼손 = 20

In [29]:
김왼손

20

In [30]:
1python = 2

SyntaxError: invalid syntax (<ipython-input-30-0bfe2a48556d>, line 1)

In [31]:
p1ython = 2

In [32]:
my int = 2

SyntaxError: invalid syntax (<ipython-input-32-afce881e5582>, line 1)

In [33]:
my_int = 2

## 기본재료 : 숫자형, 문자열, 불린

### 숫자형(Numeric)

In [35]:
my_int = 3

In [38]:
my_int

3

In [39]:
my_float = 3.14

In [40]:
my_float

3.14

In [41]:
type(my_float)

float

In [42]:
type(my_int)

int

In [43]:
type(1)

int

In [44]:
1 + 2

3

In [45]:
3 + 3

6

### 문자열 (String)

In [46]:
'Hello'

'Hello'

In [47]:
"Hello"

'Hello'

In [48]:
'Hello"

SyntaxError: EOL while scanning string literal (<ipython-input-48-d9c26fb53ee0>, line 1)

In [49]:
print('hello world')

hello world

### 불린 (Boolean)

In [50]:
True

True

In [51]:
False

False

In [52]:
my_bool = True

In [53]:
print(my_bool)

True

In [54]:
print(False)

False

## 리스트 (List)

In [55]:
my_list = []

In [56]:
my_list = [1, 2, 3]

In [57]:
students = ['메이충리엘', 'kelly', '남재우', '김민수', '제스퍼', '이에스', '레이']

In [58]:
for std in students:
    print(std)

메이충리엘
kelly
남재우
김민수
제스퍼
이에스
레이

In [59]:
import random
print(random.choice(students))

제스퍼

In [60]:
print(random.choice(students))

kelly

In [61]:
print(random.choice(students))

김민수

In [62]:
print(random.choice(students))

kelly

In [63]:
students.append('희진 조')

In [64]:
students

['메이충리엘', 'kelly', '남재우', '김민수', '제스퍼', '이에스', '레이', '희진 조']

In [65]:
students.append('Meta')

In [66]:
students

['메이충리엘', 'kelly', '남재우', '김민수', '제스퍼', '이에스', '레이', '희진 조', 'Meta']

## 튜플 (Tuple)

In [67]:
students[0] = '박경빈'

In [68]:
students

['박경빈', 'kelly', '남재우', '김민수', '제스퍼', '이에스', '레이', '희진 조', 'Meta']

In [69]:
students[1] = '호박'

In [70]:
students

['박경빈', '호박', '남재우', '김민수', '제스퍼', '이에스', '레이', '희진 조', 'Meta']

In [71]:
my_tuple = ('요거트', '이에스', '레이')

In [72]:
my_tuple

('요거트', '이에스', '레이')

In [73]:
my_tuple[0] = '문용석'

TypeError: 'tuple' object does not support item assignment

## 딕셔너리 (Dictionary)

In [74]:
my_dict = {'헤흐': '남', 'Meta' : '남', '김왼손': '여'}

In [75]:
my_dict['김왼손']

'여'

In [76]:
my_dict['김왼손'] = '남'

In [77]:
my_dict

{'헤흐': '남', 'Meta': '남', '김왼손': '남'}

## 자료형 변환하기

In [78]:
my_int = 1

In [79]:
type(my_int)

int

In [80]:
float(my_int)

1.0

In [81]:
type(my_int)

int

In [82]:
str(my_int)

'1'

In [83]:
type(str(my_int))

str

In [84]:
my_str = "coding"

In [85]:
my_str

'coding'

In [86]:
list(my_str)

['c', 'o', 'd', 'i', 'n', 'g']

## 주석(Comment)

In [87]:
print('Hello World!') # 안녕?

Hello World!

In [88]:
print('Hello World!') # 안녕을 표시합니다.

Hello World!

In [89]:
print(2 + 3) # 계산결과를 출력

5

## 문자열(string)

In [90]:
my_str = "김씨가족"

In [91]:
print(my_str)

김씨가족

In [92]:
type(my_str)

str

In [93]:
my_str = 'JW호박 Pumkin'

In [94]:
print(my_str)

JW호박 Pumkin

In [95]:
type(my_str)

str

In [96]:
my_str = """제스퍼
토미
메타
"""

In [97]:
my_str

'제스퍼\n토미\n메타\n'

## 문자열 포맷팅(Formatting)

In [98]:
my_str = 'My name is %s' % 'Young Choi'

In [99]:
my_str

'My name is Young Choi'

In [100]:
'%d %d' % (1, 2)

'1 2'

In [101]:
'%f' % 3.14

'3.140000'

## format()

In [102]:
'My name is %s' % '조희진'

'My name is 조희진'

In [103]:
'My name is {}'.format('조희진')

'My name is 조희진'

In [104]:
'{} X {} = {}'.format(2, 3, 2*3)

'2 X 3 = 6'

In [105]:
'{1} X {0} = {2}'.format(2, 3, 2*3)

'3 X 2 = 6'

## 문자열 인덱싱(Indexing)

In [106]:
my_name = "김왼손의 왼손코딩"

In [107]:
my_name[3]

'의'

In [109]:
my_name[8]

'딩'

In [110]:
my_name[-1]

'딩'

## 문자열 슬라이싱(Slicing)